html {
  background-color: #f4f5f6;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  max-width: 1310px;
  margin: 0 auto;
  min-width: 440px;
  overflow-x: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
}

header {
  background-color: #f72210;
  height: 50px;
}

article {
  background-color: #fff;
}

picture {
  display: block;
  position: relative;
  overflow: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto condensed", sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  object-fit: contain;
}

.img-title {
  color: #000;
}

h2 {
  font-size: 16px;
  color: #999;
}

h3 {
  font-size: 22px;
}

header,
.fullnavone > div {
  display: flex;
  align-items: center;
}

.fullnavone {
  min-width: 350px;
}

.fullnavone .logo svg {
  width: 132px;
  color: #fff;
}

.weather,
.location,
.date {
  font-size: 15px;
  font-family: "Roboto condensed", sans-serif;
  font-weight: 700;
  color: #fff;
}

.weather img {
  width: 24px;
}

.location img {
  width: 6px;
  margin-left: 5px;
}

.signin {
  color: #fff;
}

.subscribe {
  color: #f72210;
}

.subscribe svg {
  width: 8px;
  margin-left: 10px;
}

.signin,
.subscribe {
  font-size: 14px;
  font-weight: bolder;
}

.fa-bars {
  font-size: 25px;
  color: #fb9a94;
}

.fullnavtwo .logo svg {
  width: 390px;
  color: #fff;
}

.white {
  border-bottom: 2px solid #f4f5f6;
  height: 56px;
  background-color: #fff;
}

.white a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Roboto condensed", sans-serif;
  font-weight: 700;
  line-height: 25px;
}

.divider {
  border: 1px solid #ddd;
}

.white input {
  font-size: 16px;
  width: 60px;
  margin: 0;
  outline: none;
  border: none;
  padding-top: 3px;
  padding-left: 5px;
}

.white ul img {
  width: 18px;
}

.topcurve .row {
  height: 13px;
}

.topcurve div:nth-child(2) {
  background-color: #f72210;
}

.topcurve .bottomcurve {
  width: 13px;
  background: linear-gradient(
    to top right,
    white,
    white 50%,
    #f72210 50%,
    #f72210
  );
}

.first-part {
  padding-top: 20px;
}

.wrap {
  position: relative;
}

.wrap .category {
  display: block;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.wrap .category a {
  color: inherit;
  text-decoration: none;
}

.heroes .wrap .category {
  color: #27273d;
  background-color: #c2d4d7;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: lighter;
  text-transform: capitalize;
}

.heroes .wrap .category a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.storydivider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}

.morestory picture {
  float: left;
  margin-right: 15px;
}

.morestory picture,
.morestory picture img {
  height: 95px;
  width: 95px;
}

.story1 h5 {
  font-size: 16px;
  font-weight: 700;
}

.opinion img {
  height: 63px;
  width: 63px;
}

.story2 {
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto condensed", sans-serif;
  color: #000;
}

.story2:hover {
  color: #f72210;
  cursor: pointer;
}

.by {
  color: #555;
}

.col3-head {
  margin-top: 30px;
}

.pinktop {
  border-top: 4px solid #f92859;
}

.bluetop {
  border-top: 4px solid #1c87fb;
}

.debate-text {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto condensed", sans-serif;
  line-height: 21px;
  margin-left: 1rem;
}

.bywho {
  position: relative;
  margin-bottom: 1rem;
}

.bywho img {
  position: absolute;
  top: -15px;
  right: 5px;
  width: 63px;
  height: 63px;
}

.debate-divide {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 4px;
  top: 12px;
  margin-top: 4px;
  margin-bottom: 1rem;
}

.vs {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/40px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 14px auto 18px;
}

.signup .container {
  background-color: #f4f5f6;
}

.letter,
.sponsored {
  margin: 30px auto 10px;
  max-width: 300px;
  padding: 20px;
}

.letter {
  border: 1px solid #e5e5e5;
}

.newsicon {
  -webkit-flex: none;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-left: 25px;
  margin-right: 10px;
}

.signup .letter .letter-body {
  padding-left: 0;
}

.sign {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.update {
  color: #333;
  font: bold 15px/15px "Roboto Condensed", sans-serif;
}

.signup button {
  width: 10px;
  margin-bottom: 10px;
}

.insight {
  padding-top: 25px;
}

.insights .wrap .category {
  color: #3581f4;
}

.insight-border {
  border: 1px solid #e5e5e5;
  padding: 10px 5px;
}

.insights h3 {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.insights .summary {
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 992px) {
  header {
    height: 95px;
  }

  .fullnavone,
  .subscribe {
    margin-right: 10px;
  }

  .signup .letter {
    width: 100%;
    max-width: 300px;
  }

  .insights {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .fullnavone .location {
    display: none;
  }
}

@media (max-width: 480px) {
  .fullnavone .signin,
  .fullnavone .subscribe {
    font-size: 15px;
  }

  .fullnavone .weather {
    display: none;
  }
}
