html {
  background-color: #f4f5f6;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  max-width: 1310px;
  margin: 0 auto;
  min-width: 440px;
  overflow-x: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
}

header {
  background-color: #f72210;
  height: 50px;
}

header,
.fullnavone > div {
  display: flex;
  align-items: center;
}

.fullnavone {
  min-width: 350px;
}

.fullnavone .logo svg {
  width: 132px;
  color: #fff;
}

.weather,
.location,
.date {
  font-size: 15px;
  font-family: "Roboto condensed", sans-serif;
  font-weight: 700;
  color: #fff;
}

.weather img {
  width: 24px;
}

.location img {
  width: 6px;
  margin-left: 5px;
}

.signin {
  color: #fff;
}

.subscribe {
  color: #f72210;
}

.subscribe svg {
  width: 8px;
  margin-left: 10px;
}

.signin,
.subscribe {
  font-size: 14px;
  font-weight: bolder;
}

.fa-bars {
  font-size: 25px;
  color: #fb9a94;
}

.fullnavtwo .logo svg {
  width: 390px;
  color: #fff;
}

.white {
  border-bottom: 2px solid #f4f5f6;
  height: 56px;
  background-color: #fff;
}

.white a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Roboto condensed", sans-serif;
  font-weight: 700;
  line-height: 25px;
}

.divider {
  border: 1px solid #f4f5f6;
}

.white input {
  font-size: 16px;
  width: 60px;
  margin: 0;
  outline: none;
  border: none;
  padding-top: 3px;
  padding-left: 5px;
}

.white ul img {
  width: 18px;
}

.topcurve .row {
  height: 13px;
}

.topcurve div:nth-child(2) {
  background-color: #f72210;
}

.topcurve .bottomcurve {
  width: 13px;
  background: linear-gradient(
    to top right,
    white,
    white 50%,
    #f72210 50%,
    #f72210
  );
}

@media (min-width: 992px) {
  header {
    height: 95px;
  }

  .fullnavone,
  .subscribe {
    margin-right: 10px;
  }
}

@media (max-width: 640px) {
  .fullnavone .location {
    display: none;
  }
}

@media (max-width: 480px) {
  .fullnavone .signin,
  .fullnavone .subscribe {
    font-size: 15px;
  }

  .fullnavone .weather {
    display: none;
  }
}
